.form__elem {
  background-color: #fff;
  padding: 20px 30px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: .9rem;
  opacity: 1;
  margin-bottom: 10px;
}

.form__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.form__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form__row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.form__row--2 {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 20px 0;
}

.form__row--wide {
  min-width: 800px;
}

.form__row--row {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.input__title {
  margin-bottom: 0;
}

.form__input {
  padding: 5px 10px;
  border: 1px solid #D8D8D8;
  background: transparent;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 35px;
  width: 100%;
  z-index: 2;
}

.form__input--select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  width: 60%;
  padding: 0;
  padding-left: 10px;
  margin: 7px 0;
}

.form__input--date {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__input--area {
  min-height: 100px;
  resize: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.form__input--2 {
  width: 60%;
  margin: 7px 0;
}

.form__input--3 {
  width: 53%;
  margin: 7px 0;
}

.form__input--phone {
  min-width: 215px;
}

.form__input--main {
  width: 100%;
}

.form__check {
  margin-right: 10px;
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15px;
  -ms-flex: 0 0 15px;
  flex: 0 0 15px;
  max-width: 15px;
}

.btn__lk {
  margin: 5px 0 10px;
  padding: 15px;
  font-size: .9rem;
}

.form__text {
  color: #D8D8D8;
  text-align: center;
  position: relative;
}

.input__text {
  font-size: 13px;
  width: 70%;
}

.form__text--line {
  margin-top: 30px;
}

.form__text--line:before {
  content: '';
  height: 1px;
  background-color: #D8D8D8;
  width: 45%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form__text--line:after {
  content: '';
  height: 1px;
  background-color: #D8D8D8;
  width: 45%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn--social {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0;
  font-size: 12px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 48%;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
}

.btn--fb {
  background-color: #475993;
}

.btn--google {
  background-color: #F34A38;
}

.lk__icon {
  font-size: 18px;
  margin-right: 10px;
}

.lk__desc {
  color: #fff;
  margin: 70px 0;
  margin-bottom: 100px;
}

.lk__title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.wave__lk {
  top: initial;
  z-index: -1;
  height: 500px;
}

.section__content {
  padding-top: 100px;
}

.section {
  min-height: initial;
}

.section__contacts {
  padding: 50px 0;
  padding-top: 0;
}

.section__middle {
  min-height: initial;
}

.g-recaptcha {
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform-origin: left top;
}

.g-recaptcha > div {
  margin: 0 auto;
  margin-top: 20px;
}

#promo-code-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section__title--profile {
  opacity: .5;
  padding-bottom: 0;
  top: 85px;
  font-weight: 300;
}

.section__title--top {
  top: 0;
}

#navigation {
  top: 20px;
  z-index: 9999;
}

#navigation.fixed {
  top: 0;
  z-index: 9999;
}

.breadcrumbs {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 0;
  padding: 0;
}

.breadcrumb__item {
  margin-right: 20px;
}

.breadcrumb__link {
  display: block;
  padding: 10px 30px;
  border: 1px solid #fff;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
  opacity: .7;
  font-size: 13px;
}

.breadcrumb__link:hover {
  color: #fff;
  background-color: rgba(104, 173, 225, 0.5);
  border: 1px solid #66A7DB;
  opacity: 1;
}

.breadcrumb__item--active .breadcrumb__link {
  color: #fff;
  background-color: rgba(104, 173, 225, 0.5);
  border: 2px solid #66A7DB;
  opacity: 1;
}

.bonus__wrapper {
  position: relative;
  width: 100%;
  height: 170px;
  background: -webkit-gradient(linear, right top, left top, from(#01AEEB), to(#DA1845));
  background: -webkit-linear-gradient(right, #01AEEB 0%, #DA1845 100%);
  background: -o-linear-gradient(right, #01AEEB 0%, #DA1845 100%);
  background: linear-gradient(to left, #01AEEB 0%, #DA1845 100%);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bonus {
  position: absolute;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 99%;
  height: 160px;
  background-color: #000;
  position: relative;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bonus__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

.bonus-red {
  background: -webkit-gradient(linear, left top, right top, from(#DA1845), to(#AA396A));
  background: -webkit-linear-gradient(left, #DA1845 0%, #AA396A 100%);
  background: -o-linear-gradient(left, #DA1845 0%, #AA396A 100%);
  background: linear-gradient(to right, #DA1845 0%, #AA396A 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 17px;
}

.bonus__text-left {
  margin-right: 20px;
}

.bonus__text-right {
  font-size: 92px;
}

.bonus-big {
  display: block;
  color: #fff;
  background: none;
  font-size: 71px;
  text-transform: uppercase;
  font-weight: 500;
}

.balance {
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.balance__card {
  background-color: #fff;
  padding: 50px 30px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 1;
  margin-top: 25px;
}

.balance__card--top {
  margin-top: 0;
}

.balance__title {
  font-size: 25px;
  margin-bottom: 10px;
}

.balance__text {
  color: #000;
  margin-bottom: 20px;
  font-size: 14px;
}

.balance__amount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  font-size: 71px;
}

.balance__amount--modal .amount {
  margin: 0;
}

.balance__amount--modal .currency {
  margin-right: 10px;
}

.balance__amount--low .amount {
  margin-right: 10px;
}

.balance__icon {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.amount {
  font-size: 60px;
  margin-left: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#01aeeb), to(#01eca0));
  background: -webkit-linear-gradient(left, #01aeeb 0%, #01eca0 100%);
  background: -o-linear-gradient(left, #01aeeb 0%, #01eca0 100%);
  background: linear-gradient(to right, #01aeeb 0%, #01eca0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.amount--small {
  font-size: 37px;
}

.amount--bonus {
  background: none;
  -webkit-background-clip: unset;
  background-clip: unset;
  -webkit-text-fill-color: initial;
  color: #F845AD;
  margin-left: 40px;
}

.amount__desc {
  font-size: 16px;
}

.amount__top {
  font-weight: 500;
}

.amount__bottom {
  color: #D8D8D8;
}

.currency {
  font-size: 25px;
}

.currency--small {
  margin-left: 10px;
  font-size: 17px;
}

.balance__link {
  margin: 20px 0;
  margin-left: 45px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.balance__link--small {
  margin-left: 0;
  font-size: 13px;
}

.balance__link--modal {
  text-align: center;
  margin-left: 0;
  font-size: 13px;
}

.balance__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.balance__links--modal .balance__code {
  margin-left: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
}

.balance__code {
  background: -webkit-gradient(linear, left top, right top, from(#01aeeb), to(#01eca0));
  background: -webkit-linear-gradient(left, #01aeeb 0%, #01eca0 100%);
  background: -o-linear-gradient(left, #01aeeb 0%, #01eca0 100%);
  background: linear-gradient(to right, #01aeeb 0%, #01eca0 100%);
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  margin-left: 40px;
  opacity: .8;
  padding: 10px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.amount__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.currency__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 21%;
  -ms-flex: 0 0 21%;
  flex: 0 0 21%;
}

.balance__token {
  font-size: 24px;
  margin-left: auto;
}

.qr-icon {
  max-width: 100%;
  height: auto;
}

.code {
  margin-right: auto;
  font-size: 16px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.btn-qr {
  padding: 4px;
  max-width: 50px;
  margin-left: 10px;
}

.verify-btn {
  max-width: 180px;
  margin-left: 15px;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  background-color: grey;
}

.qr-icon {
  max-width: 100%;
  height: auto;
}

.btn--ref {
  max-width: 150px;
  text-align: center;
  padding: 15px;
}

.btn--small {
  padding: 10px;
  max-width: 130px;
  margin-left: 10px;
}

.btn--copy {
  background-color: #da1845;
  color: #fff;
  margin-top: 10px;
  display: none;
  padding: 10px;
  max-width: 100px;
  font-size: 10px;
}

.refill__modal {
  width: 40%;
  padding: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: none;
  margin-top: 100px;
}

.qr-code {
  text-align: center;
  margin-top: 20px;
}

.qr-code__pic {
  max-width: 100%;
  height: auto;
}

.balance__exchange {
  background-color: #E8E9ED;
  padding: 50px 30px;
  line-height: 1;
}

.exchange__title {
  font-size: 16px;
  margin-top: 20px;
}

.exchange__guide {
  font-size: 13px;
  margin-top: 20px;
}

.guide__item {
  padding-bottom: 10px;
}

.banner {
  background: url("../img/flag_usa.png") no-repeat 100% 0/contain;
  background-color: #DA325B;
  padding: 50px 30px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 25px;
  line-height: 1;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.banner__title {
  font-size: 25px;
  margin-bottom: 10px;
}

.banner__text {
  font-size: 13px;
}

.banner__left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
}

.banner__steps {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner__step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 30px;
}

.step__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  margin-bottom: 20px;
}

.step__number {
  font-size: 25px;
  color: #001441;
  margin-right: 10px;
}

.btn--usa {
  background-color: #fff;
  color: #DA2752;
  font-size: 17px;
  text-transform: uppercase;
  max-width: 300px;
  padding: 15px;
}

.total__card {
  background-color: #E8E9ED;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 40px 35px 40px 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.total__title {
  font-size: 26px;
}

.total__number {
  font-size: 50px;
}

.total__text {
  color: #A3A8B4;
}

.left__path,
.right__path {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  max-width: 49%;
  position: relative;
  padding-bottom: 80px;
  font-size: 19.5px;
}

.separate__path {
  width: 2px;
  height: 150px;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.separate__path span {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: block;
  width: 100px;
  position: absolute;
  left: -50px;
  top: 65px;
}

.separate__path span:before {
  content: '';
  width: 40px;
  height: 2px;
  background: #fff;
  display: block;
  position: absolute;
  left: -38px;
  top: 11px;
}

.separate__path span:after {
  content: '';
  width: 40px;
  height: 2px;
  background: #fff;
  display: block;
  position: absolute;
  left: 100px;
  bottom: 11px;
}

.invest__line {
  width: 100%;
  height: 2px;
  background: #ffffff;
  position: relative;
}

.left__path--scale {
  position: absolute;
  height: 2px;
  top: 0px;
  left: 0px;
  width: 49%;
}

.scale__point {
  position: absolute;
  width: 2px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  background: #ffffff;
}

.scale__point--start {
  left: 0px;
}

.scale__point--middle {
  left: 33%;
  margin-top: -10px;
  height: 20px;
}

.scale__point--end {
  left: 66%;
  margin-top: -10px;
  height: 20px;
}

.point__item {
  position: absolute;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  top: -35px;
}

.scale__point--start .point__item {
  left: -18px;
}

.scale__point--middle .point__item {
  left: -22px;
  top: -41px;
}

.scale__point--end .point__item {
  width: 75px;
  left: -35px;
  top: -41px;
}

.right__path--scale .scale__point--end {
  left: 100%;
  margin-top: -15px;
  height: 30px;
}

.right__path--scale .scale__point--end .point__item {
  width: 86px;
  left: -51px;
}

.bonus__scale {
  color: #ffffff;
  margin-bottom: 65px;
  margin-top: 65px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
}

.scale {
  color: #fff;
  margin-bottom: 95px;
}

.bonus__scale .left__path {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 200px;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  max-width: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 350px;
  position: relative;
  font-size: 27px;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
}

.bonus__scale .right__path {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(100% - 200px);
  -ms-flex: 0 0 calc(100% - 200px);
  flex: 0 0 calc(100% - 200px);
  max-width: -webkit-calc(100% - 200px);
  max-width: calc(100% - 200px);
  padding-bottom: 0px;
}

.scale__title {
  background: -webkit-gradient(linear, left top, right top, from(#01aeeb), to(#01eca0));
  background: -webkit-linear-gradient(left, #01aeeb 0%, #01eca0 100%);
  background: -o-linear-gradient(left, #01aeeb 0%, #01eca0 100%);
  background: linear-gradient(to right, #01aeeb 0%, #01eca0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
}

.scale__title--purple {
  background: -webkit-gradient(linear, left top, right top, from(#953996), to(#5A3ACE));
  background: -webkit-linear-gradient(left, #953996 0%, #5A3ACE 100%);
  background: -o-linear-gradient(left, #953996 0%, #5A3ACE 100%);
  background: linear-gradient(to right, #953996 0%, #5A3ACE 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
}

.bold {
  font-weight: 600;
}

.scale__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.scale__row--line {
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #01aeeb), to(#01eca0));
  background: -webkit-linear-gradient(left, #01aeeb 0, #01eca0 100%);
  background: -o-linear-gradient(left, #01aeeb 0, #01eca0 100%);
  background: linear-gradient(to right, #01aeeb 0, #01eca0 100%);
  margin-bottom: 25px;
}

.scale__row--top {
  padding-bottom: 25px;
}

.scale__title {
  text-align: center;
}

.scale__row--around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.scale__row--between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.scale__row--lines {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 75px 0;
}

/*.scale__row--left {
  width: 70%;
}*/

.scale__circle {
  min-width: 30px;
  min-height: 30px;
  border: 3px solid #01eca0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #00264f;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.scale__circle--right {
  border-color: #953996;
}

.scale__circle--small {
  min-width: 20px;
  min-height: 20px;
}

.scale__circle--purple {
  border-color: #953996;
}

.scale__circle--center {
  border-top-color: #953996;
  border-right-color: #953996;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.scale__line {
  height: 2px;
  width: 50%;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #01aeeb), to(#01eca0));
  background: -webkit-linear-gradient(left, #01aeeb 0, #01eca0 100%);
  background: -o-linear-gradient(left, #01aeeb 0, #01eca0 100%);
  background: linear-gradient(to right, #01aeeb 0, #01eca0 100%);
}

.scale__line--purple {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #953996), to(#5A3ACE));
  background: -webkit-linear-gradient(left, #953996 0, #5A3ACE 100%);
  background: -o-linear-gradient(left, #953996 0, #5A3ACE 100%);
  background: linear-gradient(to right, #953996 0, #5A3ACE 100%);
  width: 50%;
}

.scale__steps {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.scale__steps--gradient {
  background: -webkit-gradient(linear, left top, right top, from(#01aeeb), to(#01eca0));
  background: -webkit-linear-gradient(left, #01aeeb 0%, #01eca0 100%);
  background: -o-linear-gradient(left, #01aeeb 0%, #01eca0 100%);
  background: linear-gradient(to right, #01aeeb 0%, #01eca0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 600;
}

.scale__block {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.scale__dot {
  font-size: 16px;
}

.scale__amount {
  font-size: 16px;
}

.scale__block--start {
  left: -15px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.scale__block--end {
  right: -15px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.scale__block--center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 120px;
}

.scale__block--second {
  left: 17%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 120px;
}

.scale__block--third {
  left: 25%;
  height: 120px;
}

.bonus__scale--title {
  text-align: center;
  font-size: 32.5px;
  margin-bottom: 35px;
  font-family: 'PF DinDisplay Pro';
}

.bonus__scale .dot {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: #00264f;
  border: 3px solid #01eca0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 20px 0px;
  position: relative;
}

.bonus__scale .dot.line:before {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 1140px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #01aeeb), to(#01eca0));
  background: -webkit-linear-gradient(left, #01aeeb 0, #01eca0 100%);
  background: -o-linear-gradient(left, #01aeeb 0, #01eca0 100%);
  background: linear-gradient(to right, #01aeeb 0, #01eca0 100%);
  left: -310px;
  top: 50%;
  margin-top: -1px;
  z-index: -1;
}

.bonus__percent {
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 0px;
  font-size: 54px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #01aeeb), to(#01eca0));
  background: -webkit-linear-gradient(left, #01aeeb 0, #01eca0 100%);
  background: -o-linear-gradient(left, #01aeeb 0, #01eca0 100%);
  background: linear-gradient(to right, #01aeeb 0, #01eca0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #429D9B;
  font-family: 'PF DinDisplay Pro';
  line-height: 1;
  font-weight: bold;
}

.bx-wrapper {
  position: relative;
}

.bx-controls {
  position: absolute;
  top: -100px;
  left: 0px;
  width: 100%;
  z-index: 10;
}

.bx-controls-direction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bx-controls-direction a {
  margin: 0px 55px;
}

a.bx-prev:before,
a.bx-next:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 64px;
  vertical-align: middle;
  margin-bottom: 4px;
}

a.bx-prev:before {
  content: "\f100";
  margin-right: 10px;
}

a.bx-next:after {
  content: "\f101";
  margin-left: 10px;
}

.social__list {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.bonuse__chart {
  margin-top: 70px;
  position: relative;
  text-align: center;
}

.bonuse__chart--bottom {
  margin-top: -190px;
}

.section__subtitle {
  color: #fff;
  text-transform: uppercase;
  margin-top: 65px;
  margin-left: 5px;
}

.bonuse__text {
  margin-top: 70px;
}

.bonuse__title {
  font-size: 13px;
  color: #fff;
  opacity: .7;
}

.bonuse__desc {
  font-size: 17px;
  color: #fff;
}

.bonuse__pic {
  max-width: 100%;
  height: auto;
}

.bonuse__amount {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
}

.bonuse__amount-top {
  font-size: 71px;
}

.bonuse__amout-bottom {
  font-size: 17px;
}

.bonus__amount {
  color: #10DBA2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 70px;
  line-height: 1;
}

.bonus__amount--blue {
  color: #16BBD1;
  text-align: center;
}

.bonus__amount-top {
  font-size: 60px;
}

.timeline__mobile {
  display: none;
}

.timeline__wrap {
  position: relative;
  margin-top: 85px;
}

.timeline__dot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #483661;
  width: 80px;
  height: 80px;
  position: relative;
  left: 0;
  top: 0;
  color: #ffffff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.timeline__dot:before {
  content: '';
  background: -webkit-linear-gradient(bottom, #01aeeb 0%, #01eca0 100%);
  background: -o-linear-gradient(bottom, #01aeeb 0%, #01eca0 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#01aeeb), to(#01eca0));
  background: linear-gradient(to top, #01aeeb 0%, #01eca0 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
  left: 0;
  top: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  opacity: .4;
}

.timeline__dot:hover {
  background: #fff;
  -webkit-box-shadow: 0px 0px 40px 10px rgba(192, 52, 123, 0.6);
  box-shadow: 0px 0px 40px 10px rgba(192, 52, 123, 0.6);
  color: #444444;
}

.timeline__line {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background-color: #00B6EF;
  z-index: -2;
}

.dot__text {
  font-size: 25px;
  line-height: 1;
}

.timeline__link {
  position: absolute;
  font-size: 54px;
  top: 49%;
  right: -17%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.timeline__desc {
  color: #fff;
}

.timeline__title {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 20px;
}

.timeline__title--small {
  text-transform: none;
  font-size: 17px;
  color: #fff;
  margin-top: 50px;
}

.timeline__text {
  font-size: 13px;
}

.timeline__text--faded {
  opacity: .7;
}

.verification__status {
  margin: 75px 0 0 0;
  text-align: center;
}

.verification__title {
  color: #fff;
  font-size: 13px;
  opacity: .7;
}

.status {
  font-size: 71px;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#01ECA0), to(#01DDB2));
  background: -webkit-linear-gradient(left, #01ECA0 0%, #01DDB2 100%);
  background: -o-linear-gradient(left, #01ECA0 0%, #01DDB2 100%);
  background: linear-gradient(to right, #01ECA0 0%, #01DDB2 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .5;
}

.status--progress {
  background: -webkit-gradient(linear, left top, right top, from(#DA1845), to(#865285));
  background: -webkit-linear-gradient(left, #DA1845 0%, #865285 100%);
  background: -o-linear-gradient(left, #DA1845 0%, #865285 100%);
  background: linear-gradient(to right, #DA1845 0%, #865285 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .8;
}

.btn--verif {
  background-color: rgba(255, 255, 255, 0.3);
  width: 35%;
  margin: 0 auto;
  padding: 25px 0;
}

.email__confirm {
  font-size: 16px;
  text-align: center;
  padding: 20px 40px;
  margin-bottom: 20px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.email__confirm:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#01ECA0), to(#01AEEB));
  background: -webkit-linear-gradient(right, #01ECA0 0%, #01AEEB 100%);
  background: -o-linear-gradient(right, #01ECA0 0%, #01AEEB 100%);
  background: linear-gradient(to left, #01ECA0 0%, #01AEEB 100%);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  opacity: .5;
  z-index: -1;
}

.btn--resend {
  text-transform: uppercase;
  max-width: 150px;
  padding: 13px;
  text-align: center;
  font-size: 14px;
  background-color: #4DA8A9;
  border: 3px solid #fff;
  border-color: #fff;
}

.confirm__text {
  color: #fff;
}

.form__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.btn--pass {
  text-transform: uppercase;
  max-width: 200px;
  background-color: #EEEEEE;
  font-size: 13px;
  padding: 10px;
  color: #001441;
}

.input__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.input__flag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #EEEEEE;
  height: 35px;
  min-width: 45px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-right: 10px;
}

.input__arrow {
  position: absolute;
  right: 15px;
  top: 13px;
  color: #DA1845;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.input__arrow--blue {
  color: #66A7DB;
  top: 10px;
}

.input__arrow--index {
  top: 37px;
}

.labels__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.btn--lk-small {
  max-width: 150px;
}

.form__bottom {
  padding-left: 65px;
}

.chinesse__warning {
  background-color: #DA325B;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  margin: 5px 0;
}

.warning__title {
  text-transform: uppercase;
}

.file__wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 20px 0;
  border: 3px dashed #000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 70%;
  height: 190px;
}

.file__text {
  text-align: center;
  width: 100%;
}

.file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

@media screen and (max-width: 1920px) {
  .balance__code {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
  }

  .currency__block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
}

@media (max-width: 1199px) {
  .bonus__scale .dot.line:before {
    width: 970px;
    left: -290px;
  }

  .bx-controls-direction a {
    margin: 0px 45px;
  }

  .bx-controls {
    top: -80px;
  }

  a.bx-prev:before,
  a.bx-next:after {
    font-size: 45px;
  }
}

@media screen and (max-width: 1191px) {
  .form__row--wide {
    min-width: 700px;
  }

  .section__title--profile {
    left: 6px;
  }

  .amount {
    font-size: 40px;
  }

  .amount--small {
    font-size: 2rem;
    margin: 0;
  }

  .balance__code {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
  }

  .amount__block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
  }

  .currency__block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 29%;
    -ms-flex: 0 0 29%;
    flex: 0 0 29%;
  }

  .balance__token {
    font-size: 20px;
  }

  .timeline__link {
    right: -12%;
  }
}

@media screen and (max-width: 991px) {
  .form__row--wide {
    min-width: initial;
  }

  .form__input--3 {
    width: 60%;
  }

  .input__text {
    width: 60%;
  }

  .breadcrumbs {
    margin-top: 10px;
  }

  .breadcrumb__item {
    margin-right: 5px;
  }

  .breadcrumb__link {
    margin-bottom: 10px;
    width: 100%;
    margin-right: 10px;
    text-align: center;
  }

  .amount {
    font-size: 32px;
  }

  .amount--modal {
    font-size: 18px;
  }

  .currency {
    font-size: 18px;
  }

  .currency--modal {
    font-size: 18px;
  }

  .balance__token {
    font-size: 16px;
  }

  .code {
    font-size: 14px;
  }

  .btn-qr {
    display: none;
  }

  .btn--ref {
    max-width: 100px;
    font-size: 12px;
    padding: 10px;
  }

  .banner__step {
    margin-bottom: 20px;
  }

  .bonuse__chart {
    margin-top: 90px;
  }

  .bonuse__chart--bottom {
    margin-top: 30px;
  }

  .section__subtitle {
    margin-top: 75px;
    margin-left: 10px;
  }

  .btn--verif {
    width: 50%;
  }

  .email__confirm:before {
    z-index: 0;
  }
}

@media (max-width: 991px) {
  .bonus__scale .left__path {
    font-size: 21px;
    -webkit-box-flex: 150px;
    -webkit-flex: 150px;
    -ms-flex: 150px;
    flex: 150px;
    max-width: 150px;
  }

  .bonus__scale .right__path {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 -webkit-calc(100% - 150px);
    -ms-flex: 0 0 calc(100% - 150px);
    flex: 0 0 calc(100% - 150px);
    max-width: -webkit-calc(100% - 150px);
    max-width: calc(100% - 150px);
    font-size: 14px;
  }

  .bonus__percent {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .bonus__text-right {
    font-size: 70px;
  }

  .bonus-big {
    font-size: 51px;
  }

  .balance__card {
    padding: 30px 10px;
  }

  .amount {
    font-size: 20px;
    overflow: hidden;
  }

  .amount--small {
    font-size: 24px;
  }

  .amount--bonus {
    margin-left: 0;
    overflow: visible;
  }

  .amount__desc {
    font-size: 13px;
  }

  .currency {
    font-size: 16px;
  }

  .balance__link {
    font-size: 13px;
    margin-left: 0;
  }

  .balance__code {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 79%;
    -ms-flex: 0 0 79%;
    flex: 0 0 79%;
    margin-left: 0;
  }

  .code {
    font-size: 13px;
  }

  .btn--hidden {
    display: none;
  }

  .btn--ref {
    font-size: 10px;
    min-width: 70px;
  }

  .btn--small {
    font-size: 10px;
    padding: 13px;
  }

  .btn--copy {
    display: block;
  }

  .refill__modal {
    width: 100%;
  }

  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px 15px;
  }

  .banner__left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .banner__steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .btn--usa {
    font-size: 14px;
  }

  .total__title {
    font-size: 20px;
  }

  .total__number {
    font-size: 30px;
  }

  .timeline__desktop {
    display: none;
  }

  .timeline__mobile {
    display: initial;
  }

  .timeline__wrap {
    position: absolute;
    left: 7px;
    margin-top: 90px;
    height: 100%;
  }

  .timeline__dot {
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }

  .timeline__line {
    position: absolute;
    width: 2px;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .timeline__link {
    top: 85%;
    left: 51%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    text-align: center;
  }

  .timeline__title {
    margin-top: 90px;
  }

  .timeline__title--small {
    margin-top: 130px;
  }
}

@media (max-width: 767px) {
  .bonus__scale .left__path {
    font-size: 15px;
    -webkit-box-flex: 95px;
    -webkit-flex: 95px;
    -ms-flex: 95px;
    flex: 95px;
    max-width: 95px;
  }

  .bonus__scale .right__path {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 -webkit-calc(100% - 95px);
    -ms-flex: 0 0 calc(100% - 95px);
    flex: 0 0 calc(100% - 95px);
    max-width: -webkit-calc(100% - 95px);
    max-width: calc(100% - 95px);
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .bonus__slider {
    display: block !important;
  }

  .row.bonus__slider {
    margin: 0px;
  }

  .bonus__slider .col-3 {
    display: block;
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
    max-width: initial;
    padding: 0px;
  }

  .bonus__scale--title {
    font-size: 21.5px;
  }

  .bonus__scale .dot.line:before {
    width: 1970px;
    left: -385px;
  }

  .bx-controls {
    top: -80px;
  }
}

@media screen and (max-width: 520px) {
  .form__elem {
    padding: 5px 20px;
  }

  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .form__row--profile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .form__row--row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .form__input--select {
    width: 100%;
  }

  .form__input--2 {
    width: 100%;
  }

  .form__input--3 {
    width: 100%;
  }

  .form__input--phone {
    width: 100%;
    min-width: 100px;
  }

  .input__text {
    width: 100%;
  }

  .section__contacts {
    padding-top: 0;
  }

  #promo-code-form {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .breadcrumbs {
    margin-top: 0;
  }

  .breadcrumb__item {
    width: 100%;
    margin-right: 0;
  }

  .bonus__text-right {
    font-size: 50px;
  }

  .bonus-big {
    font-size: 32px;
  }

  .amount {
    font-size: 12px;
    margin-left: 5px;
  }

  .amount--small {
    font-size: 18px;
  }

  .amount--modal {
    font-size: 20px;
  }

  .amount__desc {
    font-size: 10px;
    width: 60%;
  }

  .currency {
    font-size: 12px;
  }

  .balance__code {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    width: 70%;
    margin-right: 10px;
    padding: 15px;
    height: 25px;
  }

  .currency__block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
  }

  .balance__token {
    font-size: 12px;
  }

  .verify-btn {
    margin-left: 0;
  }

  .btn--ref {
    font-size: 10px;
    min-width: 60px;
  }

  .btn--small {
    margin-left: 0;
    margin-top: 10px;
  }

  .total__card {
    padding: 10px;
  }

  .total__title {
    font-size: 16px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 5px;
  }

  .total__number {
    font-size: 22px;
  }

  .total__text {
    font-size: 12px;
  }

  .bonuse__text {
    margin-top: 30px;
  }

  .timeline__link {
    left: 50%;
    right: initial;
  }

  .status {
    font-size: 50px;
  }

  .status--progress {
    font-size: 40px;
  }

  .btn--verif {
    width: 100%;
    padding: 15px 0;
  }

  .email__confirm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .btn--resend {
    margin-top: 10px;
  }

  .form__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
  }

  .btn--pass {
    margin: 10px 0;
  }

  .input__arrow {
    top: 33px;
  }

  .input__arrow--blue {
    top: 32px;
  }

  .input__arrow--index {
    top: 37px;
  }

  .input__arrow--usd {
    top: 53px;
  }

  .form__bottom {
    padding-left: 0;
  }

  .file__wrapper {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */
