.form__elem {
	background-color: #fff;
	padding: 20px 30px;
	border-radius: 10px;
	font-size: .9rem;
	opacity: 1;
	margin-bottom: 10px;
	@include phones {
		padding: 5px 20px;
	}
}

.form__title {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 10px;
	text-align: center;
}

.form__group {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	position: relative;
}

.form__row {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	&--2 {
		justify-content: flex-start;
		margin: 20px 0;
	}
	&--wide {
		min-width: 800px;
		@include desktop {
			min-width: 700px;
		}
		@include tablets {
			min-width: initial;
		}
	}
	@include phones {
		flex-direction: column;
		align-items: flex-start;
	}
	&--profile {
		@include phones {
			flex-direction: row;
			align-items: flex-start;
			flex-wrap: wrap;
		}
	}
	&--row {
		align-items: baseline;
		@include phones {
			flex-direction: row;
		}
	}
}

.input__title {
	margin-bottom: 0;
}

.form__input {
	padding: 5px 10px;
	border: 1px solid #D8D8D8;
	background: transparent;
	border-radius: 20px;
	height: 35px;
	width: 100%;
	z-index: 2;
	&--select {
		appearance: none;
		background: transparent;
		width: 60%;
		padding: 0;
		padding-left: 10px;
		margin: 7px 0;
		@include phones {
			width: 100%;
		}
	}
	&--date {
		appearance: none;
	}
	&--area {
		min-height: 100px;
		resize: none;
		border-radius: 10px;
	}
	&--2 {
		width: 60%;
		margin: 7px 0;
		@include phones {
			width: 100%;
		}
	}
	&--3 {
		width: 53%;
		margin: 7px 0;
		@include tablets {
			width: 60%;
		}
		@include phones {
			width: 100%;
		}
	}
	&--phone {
		min-width: 215px;
		@include phones {
			width: 100%;
			min-width: 100px;
		}
	}
	&--main {
		width: 100%;
	}
}

.form__check {
	margin-right: 10px;
	position: relative;
	flex: 0 0 15px;
	max-width: 15px;
}

.btn__lk {
	margin: 5px 0 10px;
	padding: 15px;
	font-size: .9rem;
}

.form__text {
	color: #D8D8D8;
	text-align: center;
	position: relative;
}

.input__text {
	font-size: 13px;
	width: 70%;
	@include tablets {
		width: 60%;
	}
	@include phones {
		width: 100%;
	}
}

.form__text--line {
	margin-top: 30px;
	&:before {
		content: '';
		height: 1px;
		background-color: #D8D8D8;
		width: 45%;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	&:after {
		content: '';
		height: 1px;
		background-color: #D8D8D8;
		width: 45%;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.btn--social {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	font-size: 12px;
	flex: 0 0 48%;
}

.btn--fb {
	background-color: #475993;
}

.btn--google {
	background-color: #F34A38;
}

.lk__icon {
	font-size: 18px;
	margin-right: 10px;
}

.lk__desc {
	color: #fff;
	margin: 70px 0;
	margin-bottom: 100px;
}

.lk__title {
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 10px;
}

.wave__lk {
	top: initial;
	z-index: -1;
	height: 500px;
}

.section__content {
	padding-top: 100px;
}

.section {
	min-height: initial;
}

.section__contacts {
	padding: 50px 0;
	padding-top: 0;
}

.section__middle {
	min-height: initial;
}

.g-recaptcha {
	transform-origin: left top;
	-webkit-transform-origin: left top;
}

.g-recaptcha>div {
	margin: 0 auto;
	margin-top: 20px;
}

.section__contacts {
	@include phones {
		padding-top: 0;
	}
}

#promo-code-form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include phones {
		flex-wrap: wrap;
	}
}

.navbar {
	@include phones {
		margin-bottom: 20px;
	}
}